.review{
  border-bottom: solid;
  border-bottom-width: 1px;
}

span{
  text-decoration: underline;
}

.firstLine{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 14px;
  margin-top: 40px;
}

.date{
  text-align: right;
}

.title{
  font-size: 18;
  margin-bottom: 10px;
}

.body{
  margin-bottom: 20px;
}

.recommend{
  margin-bottom: 10px;
}

.user{
  margin-bottom: 14px;
}

.helpful{
  margin-bottom: 40px;
}

.oneStar{
  content: '&#9733;&#9734;&#9734;&#9734;&#9734;'
}