.sortBox{
  font-family: 'AdihauseDINBold';
  font-size: 13px;
  letter-spacing: 2px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-bottom: 10px;
  cursor: pointer;
}

.unselected{
  border: solid;
  border-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-width: 1px;
  grid-row: 1;
  color: grey;
}

.hover{
  border: solid;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-width: 1px;
  grid-row: 1;
  color: black;
}

.selected{
  border: solid;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-width: 1px;
  border-bottom-width: 3px;
  grid-row: 1;
}

.bottomContainer{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
}

.loadMore{
  font-family: 'AdihauseDINBold';
  font-size: 13px;
  letter-spacing: 2px;
  border: solid;
  border-width: 1px;
  text-align: center;
  margin-top: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.writeReviewBackground{
  margin-top: 40px;
  border: solid;
  border-width: 1px;
}

.writeReview{
  font-family: 'AdihauseDINBold';
  font-size: 13px;
  letter-spacing: 2px;
  border: solid;
  border-width: 1px;
  border-color: black;
  text-align: center;
  
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;
  color: white;
  cursor: pointer;
  transform: translate(-3px, -3px);
}

.sortOnText{
  font-family: 'AdihauseDINRegular';
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}