.review{
  border-bottom: solid;
  border-bottom-width: 1px;
}

.firstLine{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 14px;
  margin-top: 40px;
}

.date{
  font-size: 14px;
  font-family: 'AdihauseDINRegular';
  text-align: right;
}

.title{
  font-family: 'adineuePROBold';
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.body{
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'AdihauseDINRegular';
}

.recommend{
  font-size: 14px;
  font-family: 'AdihauseDINRegular';
  margin-bottom: 10px;
}

.user{
  font-size: 14px;
  font-family: 'AdihauseDINBold';
  margin-bottom: 14px;
}

.verified{
  font-size: 14px;
  font-family: 'AdihauseDINRegular';
}

.helpful{
  font-size: 14px;
  font-family: 'AdihauseDINRegular';
  margin-top: 14px;
  margin-bottom: 40px;
}

.confirm{
  text-decoration: underline;
  cursor: pointer;
}