.review{
  border-bottom: solid;
  border-bottom-width: 1px;
}

span{
  text-decoration: underline;
}

.firstLine{
  display: grid;
  grid-template-columns: 50% 50%;
}

.date{
  text-align: right;
}

.title{
  font-size: 18;
}

